
eatraw
eatdev
imctermite
IMCtermite

nohup.out

.DS_Store

raw_eater.cpp
raw_meat.cpp

cython/*.cpp
/build

*.log
*.so
*.pyd
*.o
*.csv
*.parquet

src/*.cpp.cpp

pip/*.cpp
pip/*.hpp
pip/*.pyx
pip/*.pxd
pip/README.md
pip/LICENSE
pip/*egg-info
pip/dist/
pip/build/

python/README.md
python/LICENSE
python/build
python/*.egg-info
python/dist
python/*.soc
python/lib/
python/*.cpp
python/wheelhouse/
